@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Serif+Display&display=swap');
@font-face {
    font-family: halimun ;
    src: url(../halimun.ttf) format(opentype);
}

:root{
--fonte1: 'Exibição Noto Serif', serif;
--fonte2: halimun, cursive;
--fonte3:  font-family: 'Quicksand', sans-serif;;

--background1: black;
--background2: white;
--background3: #004AAD;
--color1: black;
--color2: white;
--color3: #004AAD;
--color4: #FFBD59;

}
*{
margin: 0px;
padding: 0 px;
font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: var(--background3);
    font-family: var(--fonte1);
}
header{
background-color: var(--background3);
color: var(--color4);
text-align: center;
height: 50px;
padding: 10px;
font-family: var(--fonte2);
}
header nav a{
    padding: 50px;
    font-family: var(--fonte2);
    color: var(--color4);
    font-size: 25px;
}

section{
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}
section.normal{
    background-color: white;
    color: black;
    height: 100vh;
}
#inicio1{
        display: flex;
        align-items: center;
        gap: 50px;
        position: relative;
        }
#titulo{
    font-size: 100px;
}
#titulo2 {
    font-size: 50px;
}
#quemsoueu {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#quemsoueu h1{
    text-align: center;
}
#quemsoueu p {
    font-family: var(--fonte3);
    font-size: 1em;
    line-height: 1em;
    text-indent: 3em;
    padding: 10px;
    text-align: justify;
}

section.normal h1 {
    font-family: var(--fonte3);
    font-size: 60px;
}
section.imagem{ 
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
background-attachment: fixed;
padding-left: 30px;
padding-right: 410px;
}
    
section > p{
    padding-bottom: 2em;
}
section.imagem > p{
    display: inline-block 5px;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.514);;
}
section#img01{background-image: url('../imagens/background001.jpg');
background-position: right center;}

section#dados h1 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 95vw;
}
section#dados{
    background: var(--background3);
height: 100vh;
color: var(--color4);
    line-height: 1.3em;
}
.a1 {
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

#galery {
    text-align: center;
}
footer{
   background: rgba(101, 131, 170, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
}
